/* normalize */
body { margin: 0; 
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(145, 209, 249);
}
/* global styles */
video {
  background: url(./inaiinaibaa_bear1.png)no-repeat 50% 20%;
  width: 100%;
}
.back-ground{
  background: url(./animal_mizugi_set_bg.png)no-repeat -10% -10%; 
  background-size: 120%
}
.heading {
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

.your-id{
  background-color: azure;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.Button-style {
    font-size: 18px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    margin: 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    cursor: pointer;
  }

/* p2p-media styles */
.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p2p-media .remote-stream {
  width: 50%;
}

.p2p-media .local-stream {
  width: 30%;
}

.p2p-media .video-mask{
  border-radius: 10px; 
  overflow: hidden; 
}